<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Al implementar el proyecto de la biblioteca de servicio, el contenido del archivo de configuración debe agregarse al archivo 
  app.config del host. System.Configuration no es compatible con los archivos de configuración para bibliotecas. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DemoServiceVentas.Service1Behavior"
        name="DemoServiceVentas.ServiceProducto">
        <endpoint address="" binding="basicHttpBinding" contract="DemoServiceVentas.IServiceProducto">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DemoServiceVentas/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DemoServiceVentas.Service1Behavior">
          <!-- Para evitar revelar información de los metadatos, 
          establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- Para recibir detalles de los errores de la excepción para la depuración,
 establezca el valor siguiente en true. Establézcalo en false antes de la implementación 
          para evitar revelar información de la excepción -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
