<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
                <binding name="ServiciosClienteSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:48406/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ProxyCliente.ServiceSoap"
                name="ServiceSoap" />
            <endpoint address="http://localhost:48406/ServiciosCliente.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiciosClienteSoap"
                contract="PrxyCliente.ServiciosClienteSoap" name="ServiciosClienteSoap" />
        </client>
    </system.serviceModel>
</configuration>