<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Al implementar el proyecto de la biblioteca de servicio, el contenido del archivo de configuración debe agregarse al archivo 
  app.config del host. System.Configuration no es compatible con los archivos de configuración para bibliotecas. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCF_Ventas.Service1Behavior"
        name="WCF_Ventas.ServicioFactura">
        <endpoint address="" binding="basicHttpBinding" contract="WCF_Ventas.IServicioFacturas">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF_Ventas/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WCF_Ventas.Cliente">
        <endpoint address="" binding="basicHttpBinding" contract="WCF_Ventas.ICliente">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF_Ventas/Cliente/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCF_Ventas.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="VentasLeonEntities" connectionString="metadata=res://*/VentasLeon.csdl|res://*/VentasLeon.ssdl|res://*/VentasLeon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VentasLeon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VentasLeonEntities1" connectionString="metadata=res://*/VentasLeon.csdl|res://*/VentasLeon.ssdl|res://*/VentasLeon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VentasLeon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>